*{
    box-sizing: border-box;
}

.task1{
    background-color:#f4f5f8 ;
    padding: 40px 0;
    margin-bottom: 30px;
}
.task1 p{
    text-align: center;
}
body{
    margin: 0;
    font-family: Quicksand ,sans-serif;
    font-weight: 500px;
    
}
.nom{
    color: #4a4a4a;
    font-size: 15px;
    text-decoration: none;
    line-height: 24px;
    width: 100%;
    max-width: 100%;

}
.box1{
    text-align: left;
    color: #323232;
    font-family: Quicksand,Sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-left: 60px;
}
.link{
   width: 100%;
 display: flex;
   align-items: center;
  
}
.box2{
    margin: 0 auto;
}
 .box2 img{
margin: 30px;  

}


.box3{
   margin-right: 80px;
   padding-top: 50PX;
   
}

.a
{
    color: rgb(58, 58, 58);
   
}

.line{
    text-decoration: none;
    margin: 15px;
    
}

li:hover {
    transform: translateY(10px);
    transition: 0.7s;

}
li{ 
  
  display: inline-block;
}